In [1]:
import pandas as pd
#dask can be used for parallelizing
#its built on top of numpy, pandas and scikit learn

/home/aditya/Courses/sem5/ml/tutorials/ve_for_ml/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/aditya/Courses/sem5/ml/tutorials/ve_for_ml/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [5]:
size = 4000 # the number of lines that are being read

reader = pd.read_csv("BMTC_Dataset/w1.csv", chunksize = size)

In [24]:
# chunk = next(reader)

#the real question now i guess is how do i process non-associative functions

chunk.head()
chunk.columns = ['bus_id','lat','long','something_1','something_2','time']
chunk.head()
chunk.to_csv("BMTC_Dataset/new_file_with_column_names.csv",columns = ['bus_id','lat','long','something_1','something_2','time'],mode = 'a')#give headers as none for other chunk writes
chunk2 = chunk.drop(columns = ['something_1',"something_2"])
chunk2.head()

      bus_id        lat       long                 time
0  150221231  13.021009  77.384201  2016-07-01 00:00:05
1  150222576  13.011129  77.507111  2016-07-01 00:00:04
2  150219632  13.025680  77.632195  2016-07-01 00:00:09
3  150218881  13.018722  77.555565  2016-07-01 00:00:10
4  150219930  13.018051  77.555817  2016-07-01 00:00:11